body {
  background-color: black;
  width: 300px;
  height: 260px;
  
  
}
.container {
  border: 2px solid black;
  width: 300px;
  height: 300px;
  background-color: black;         
  /* This set radius to all 4 corners */  
  border-radius: 20px; 
}

button {
  background-color: black !important;  
  text-rendering: none;
  color: black;
  letter-spacing: none;
  word-spacing: none;
  line-height: none;
  text-transform: none;
  text-indent: none;
  text-shadow: none;
  text-align: none;
  cursor: default;
  padding: none;
  border-width: none;
  border-style: none;
  border-color: black;
  border-image: none;
  display: block;
  margin: auto;
  
}

p {
  color: white;
  text-align: center;
  font-size: 20px;
  margin:0
}